html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
/* .body {
  background-color: rgb(44, 77, 144);
} */

.container-primary {
  background-color: rgb(44, 77, 144);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 3rem;
  min-width: 1000px;
}


.logo {
  font-size: 5rem;
  color: white;
}

.logo:hover {
  cursor: pointer;
}

.one {
  font-weight: 900;
}

.container-secondary {
  background-color: white;
  align-self: center;
  width: 100%;
  box-shadow: 10px 10px 20px 20px rgba(27, 26, 26, 0.42);
}

.container-content--1 {
  position: relative;
}

.header {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 3rem;
}

.back_img-1 {
  width: 100%;
  opacity: 0.9;
  z-index: -10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  margin-left: 1rem;
  color: white;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}  

.nav-item:active {
  opacity: 0.3;
}

.content-grid-container {
  display: flex;
  justify-content: center;
}

.content-grid {
  display: grid;
  /* margin: 0 12rem; */
  grid-template-rows: auto auto auto;
  /* background-color: lightcoral; */
  justify-content: center;
  position: absolute;
  top: 30%;
}

.start-heading {
  color: white;
  font-weight: bolder;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 3rem;
  /* width: 1000px; */
}

.start-msg-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.start-msg {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  width: 35rem;
  /* margin-bottom: 1rem; */
}

.start-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.start-btn {
  background-color: white;
  color: rgb(44, 77, 144);
  text-align: center;
  width: 11rem;
  height: 3rem;
  border: none;
  /* align-items: center; */
  /* margin: 20px 11rem;
  margin-top: 20px; */
  font-size: 16px;
  /* padding: 20px 0;
  padding-top: 22px; */
  border-radius: 80px;
}

.start-btn:hover{
  cursor: pointer;
  border: 2px solid rgb(22, 56, 150);
}

.pins-container {
  display: flex;
  justify-content: center;
}

.pins {
  display: flex;
  position: absolute;
  justify-content: space-between;
  /* margin: 0 610px; */
  column-gap: 5px;
  bottom: 2%;
  /* font-size: 1px; */
}

.pins div {
  background-color: white;
  border-radius: 17px;
  height: 0.8rem;
  width: 0.8rem;
  padding: 1px;
}

.slider {
  display: inline-block;
  position: absolute;
  top: 45%;
  background-color: rgb(69, 91, 147);
  width: 9.5rem;
  height: 4.5rem;
  text-align: center;
  font-size: 60px;
  color: white;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.slider-left {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  left: 0;
}

.slider-right {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  right: 0;
}

.slider:hover {
  cursor: pointer;
  border: 2px solid rgb(28, 36, 73);
}

.slider:active {
  opacity: 0.5;
}

/* .default {
  display: flex;
  flex: auto;
  justify-content: center;
} */

.default-container {
  padding: 2rem 0;
}

.default-title {
  display: flex;
  flex-direction: column;
  /* flex: auto; */
  justify-content: center;
  /* grid-template-rows: auto auto; */
}

.default-heading {
  color: rgb(44, 77, 144);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.bar-container {
  display: flex;
  justify-content: center;
}

.bar {
  margin-top: 0;
  /* text-align: center; */
  background-color: rgb(44, 77, 144);
  /* margin: 0 48%; */
  height: .2rem;
  width: 3.6rem;
}

.default-section {
  display: flex;
  /* grid-template-rows: auto auto; */
  flex-direction: column;
  justify-content: center;
  /* margin: 0 200px;
  padding-bottom: 30px;
  row-gap: 2px; */
}

.text-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* padding: 0 rem; */
}

.welcome-text {
  text-align: center;
  width: 46rem;
  padding-top: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.more-btn {
  /* text-align: center; */
  color: rgb(44, 77, 144);
  width: 6rem;
  height: 3rem;
  /* margin: 0px 370px;
  font-size: 20px;
  padding-top: 10px; */
  border-radius: 20px;
  border: 2px solid rgb(44, 77, 144);
  transition: all 0.2s ease-in-out;
}

.more-btn:hover {
  cursor: pointer;
  background-color: rgb(44, 77, 144) ;
  color: white;
}

.about-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(44, 77, 144);
}

.about-item {
  display: grid;
  padding: 1rem 0;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.about-item--2 {
  background-color: black;
}

.img-motto-container {
  display: flex;
  justify-content: center;
}

.img-motto {
  display: block;
  width: 3rem;
  /* margin-left: auto;
  margin-right: auto; */
  height: auto;
}

.img-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}

.img-desc {
  text-align: center;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.service-text {
  text-align: center;
  width: 40rem;
}

.services-grid {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 300px;
}

.services-content-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  margin: 2rem 7%;
  /* margin-bottom: 5%; */
}

.services-sub-grid {
  display: grid;
  height: 3.4rem;
  background-color: lightgray;
  grid-template-columns: 20% 80%;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.services-sub-grid:hover {
  cursor: pointer;
}

.services-logo-title-holder {
  display: flex;
  padding-left: 1rem;
  justify-content: start;
  align-items: center;
}

.services-logo {
  width: 2rem;
  height: 2rem;
  margin: 20% 20%;
}

.services-logo-container {
  background-color: rgb(44, 77, 144);
  border-radius: 30px;
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid white;
  margin-top: 0;
}

.services-logo-title {
  margin: 6% 0;
  color: rgb(44, 77, 144);
}

.counts-grid {
  display: flex;
  /* grid-template-columns: auto auto auto auto; */
  justify-content: center;
  column-gap: 70px;
  background-color: rgb(44, 77, 144);
}

.counts-content-grid {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto auto auto; */
  justify-content: center;
  /* width: 200px;
  height: 100%; */
}

.counts-logo-container {
  display: flex;
  justify-content: center;
  background-color: rgb(44, 77, 144);
  border-radius: 25px;
  width: 3rem;
  margin: 2rem;
  /* height: 50px; */
  border: 2px solid white;
  align-self: center;
  /* margin-top: 0; */
}

.counts-logo {
  width: 2rem;
  height: 2rem;
  margin: 20% 20%;
}

.counts-logo-value-container {
  display: flex;
  justify-content: center;
}

.counts-logo-value {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;
}

.plus {
  position: absolute;
  font-size: 1.7rem;
  /* padding-bottom: 10px; */
  top: 30%;
}

.counts-logo-title-container {
  display: flex;
  justify-content: center;
}

.counts-logo-title {
  margin-top: 0;
  margin-bottom: 3rem;
  color: white;
  text-align: center;
  /* width: 180px; */
  padding-bottom: 0;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  justify-content: center;
  list-style: none;

}

.portfolio-items {
  color: rgb(44, 77, 144);
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.portfolio-items:hover {
  text-decoration: underline;
  cursor: pointer;
}

.portfolio-images-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 2rem 6rem;
  margin-bottom: 3rem;
}

.portfolio-img {
  width: 100%;
  height: 100%;
}

.portfolio-img:hover {
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .container-primary {
    width: 100vh;
  }

  .start-heading {
    font-size: 3.5rem;
  }

  .start-msg {
    font-size: 0.91rem;
    width: 21rem;
  }

  .start-btn {
    margin: 20px 3rem;
  }
}